api/__pychache__
chroma_db/
config/settings.py
config/
core/__pychache__
database/__pychache__
temp/
ui/__pychache__
venv/
evaluation_results/
.DS_Store
Thumbs.db
sql_db/
evaluation/__pycache__/analytics.cpython-311.pyc
database/__pycache__/datastore.cpython-311.pyc
chroma_db/chroma.sqlite3
evaluation/evaluation_results.csv
evaluation/umlaut_test.py
chroma_db/chroma.sqlite3
config/__pycache__/settings.cpython-311.pyc

